literature/articles/forecasting/forecasting-principles-and-practice-notes-2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/periodograms_and_superresolution/GeneralizedAdditiveModelsHastie1986.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/periodograms_and_superresolution/MathematicalIntroductionToCompressedSensingRauhut.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/kalman_filtering/Fundamentals_of_Kalman_Filtering_MIT_Lincoln.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/choice_modeling/MathematicalIntroductionToCompressedSensingRauhut.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_Cross_Entropy_Method_A_Unified_Approach_Rubinstein_Kroese_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/ConvexOptimization_Boyd_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/multi-objective_Bayseian_optimization/Information-Theoretic_Safe_Bayesian_Optimization_Bottero_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_Elements_of_Differentiable_Programming_Blondel_Roullet_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/scholkopf2002learning_with_kernels.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/convex_polytopes/convex_polytopes.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/convex_polytopes/Intro_to_convex_polytopes_brondsted.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/multi-objective_Bayseian_optimization/Vanilla_Bayesian_Optimization_Performs_Great_in_High_Dimensions_Hvarfner_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Statistical_Inference_Casella-Berger_2002.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/principlesofstatisticalinference_cox_2006.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Machine_Learning_Optimization_and_Data_Science_5_conference_LOD_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/BayesianOptimization/Bayesian_Optimization_Roman_Garnett_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/BayesianOptimization/Bayesian_Optimization_and_Data_Science_Archetti_1stEd_2019.pdf filter=lfs diff=lfs merge=lfs -text
